# NUTSPUBCRAWL.COM .HTACCESS FILE
# =============================================================================


## Redirect HTTP request to HTTPS
## --------------------------------------------------------
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]


## Redirect www to non-www URL (plain domain) over HTTPS
## --------------------------------------------------------
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]


## Security headers: HSTS, CSP etc.
## --------------------------------------------------------
<ifModule mod_headers.c>
    # Make browsers remember that this website prefers HTTPS over HTTP.
    Header set Strict-Transport-Security "max-age=31536000; includeSubDomains" env=HTTPS
    # Allow any domain to load resources but over HTTPS only
    Header set Content-Security-Policy "script-src 'self' https://www.googletagmanager.com https://www.google-analytics.com 'unsafe-inline'; style-src 'self' https://fonts.googleapis.com 'unsafe-inline'"
    # Don't allow the website to be iframed.
    Header always set X-Frame-Options "DENY"
    # Disable MIME type sniffing, which can e.g. make IE execute an innocent looking .img URL as a javascript.
    Header always set X-Content-Type-Options nosniff
    # Enable the built in reflective XSS protection in some browsers.
    Header always set X-Xss-Protection "1; mode=block"
    # When navigating within this website, send full URL as referrer,
    # when from this to another HTTPS website send only home URL,
    # when from this to another HTTP website, send nothing.
    Header always set Referrer-Policy origin-when-cross-origin
</ifModule>


## Set HTTP headers for Charset and Content language
## --------------------------------------------------------
AddDefaultCharset UTF-8
AddCharset utf-8 .html .css .js .txt .xml .json .asc


## Enable compression for common text file types
## --------------------------------------------------------
<ifModule mod_gzip.c>
    mod_gzip_on Yes
    mod_gzip_dechunk Yes
    mod_gzip_item_include file .(html?|txt|css|js|php|pl)$
    mod_gzip_item_include handler ^cgi-script$
    mod_gzip_item_include mime ^text/.*
    mod_gzip_item_include mime ^application/x-javascript.*
    mod_gzip_item_exclude mime ^image/.*
    mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
</ifModule>


## 404 and 403 custom error page
## --------------------------------------------------------
ErrorDocument 404 /404.html
ErrorDocument 403 /404.html


## Set browser cache time to live
## --------------------------------------------------------
# 1 YEAR - fonts
<FilesMatch "\.(woff2|woff|eot|ttf)$">
    Header set Cache-Control "max-age=31536000, public"
</FilesMatch>

# 3 MONTHS - images don't change except in strange cases
<FilesMatch "\.(png|svg|ico|jpg|jpeg|gif|pdf)$">
    Header set Cache-Control "max-age=7884000, public"
</FilesMatch>
<FilesMatch "^manifest\.json$">
    # Manifest file used for Favicons by RealFaviconGenerator
    Header set Cache-Control "max-age=7884000, public"
</FilesMatch>

# 2 WEEKS - possible to be changed
<FilesMatch "\.(css|txt|js)$">
    Header set Cache-Control "max-age=1209600, public"
</FilesMatch>

# 10 MINUTES - just keep shortly to speed up navigation through pages
<FilesMatch "\.(html|htm)$">
    Header set Cache-Control "max-age=600, public"
</FilesMatch>

# NEVER CACHE - notice the extra directives
<FilesMatch "\.(php|py|cgi|pl)$">
    Header set Cache-Control "max-age=0, private, no-store, no-cache, must-revalidate"
</FilesMatch>


## 301-Redirections
## --------------------------------------------------------
redirect 301 /fr/Guide-des-francais-a-londres.html /fr/guide-des-francais-a-londres/
redirect 301 /fr/faire-la-fete-a-londres-rencontrer-des-francais/ /fr/blog/faire-la-fete-a-londres/
redirect 301 /ministry-sound/ /
redirect 301 /our-team/ /
redirect 301 /clubs/ /
redirect 301 /europe-pub-crawls/ /
redirect 301 /valentines-day-party/ /
redirect 301 /contact-us-london/ /contact/
redirect 301 /fr/National%20Insurance%20Number.html /fr/blog/national-insurance-number/
redirect 301 /fr/faire-la-fete-a-londres-rencontrer-des-francais/ /fr/
redirect 301 /fr/qu-est-ce-que-le-pub-crawl-a-londres/ /fr/
redirect 301 /london-pub-crawl-nuts-ending-at-ministry-of-sound/ /
redirect 301 /buy-tickets-london-pub-crawl/ /
redirect 301 /borough-market/ /
redirect 301 /cafe-kick/ /
redirect 301 /covent-garden-market/ /
redirect 301 /trafik-bar-shoreditch/ /
redirect 301 /fr/propos.html/ /fr/propos/
redirect 301 /student-pub-crawl/ /
redirect 301 /moonlighting-night-club/ /
redirect 301 /fr/Tickets.html/ /fr/tickets/
redirect 301 /fr/tours.html/ /fr/
redirect 301 /st-patricks-day-party/ /
redirect 301 /london-leigh-on-sea/ /
redirect 301 /best-attractions-in-london/ /
redirect 301 /australia-day-pub-crawl/ /
redirect 301 /fr/meilleur-kebab-londres/ /fr/
redirect 301 /anti-valentines-day-party/ /
redirect 301 /leicester-square-ruby-blue/ /
redirect 301 /about-london-pub-crawl/ /
redirect 301 /fr/clubs/ /fr/
redirect 301 /fr/Aeroports-de-londres.html/ /fr/
redirect 301 /the-walrus-hostel-and-bar/ /
redirect 301 /robbo-banksy-end-graffiti-war/ /
redirect 301 /the-london-bicycle-tour-company/ /
redirect 301 /blog/page/2/ /
redirect 301 /the-making-of-harry-potter-tour/ /
redirect 301 /4-tips-great-club-crawl-london/ /
redirect 301 /london-student-job/ /blog-guide/
redirect 301 /about-london-pub-crawl/meeting-point/ /
redirect 301 /fr/visiter-londres-pendant-un-week-end/ /fr/
redirect 301 /fr/sortir-a-londres-pour-les-filles/ /fr/
redirect 301 /fr/comment-faire-la-fete-a-londres/ /fr/
redirect 301 /about-london-pub-crawl/nuts-pub-crawl-partners/ /
redirect 301 /category/pub-crawl-blog/london-2/areas/piccadilly-circus/ /
redirect 301 /reasons-why-girls-should-party-with-nuts-pub-crawl/ /
redirect 301 /buy-tickets-london-pub-crawl/ /
redirect 301 /london-pub-crawl-nuts-ending-at-ministry-of-sound/ /
redirect 301 /fr/equipe-nuts-pub-crawl/ /fr/
redirect 301 /ending-zoo-club-leicester-square-piccadilly/ /
redirect 301 /fr/acheter-tickets-pub-crawl-londres/ /fr/
redirect 301 /about-london-pub-crawl/london-nuts-club-crawl-party-video/ /
redirect 301 /about-london-pub-crawl/f-a-q/ /
redirect 301 /fr/point-de-rencontre/ /fr/
redirect 301 /fr/partenaires-nuts-pub-crawl-londres/ /fr/
redirect 301 /fr/f-a-q/ /fr/
redirect 301 /fr/video-soirees-a-londres/ /fr
redirect 301 www.nutspubcrawl.com/eazycity/ https://nutspubcrawl.com/eazycity/
redirect 301 /london-free-tours/ /
redirect 301 /movember-pub-crawl/ /
redirect 301 /london-party-video/ /
redirect 301 /bar-rumba-best-club-piccadilly-circus/ /
redirect 301 /team-member/barbara/ /
redirect 301 /tags/leicester-square-club/ /
redirect 301 /pub-crawl-news/the-kick-bar/ /
redirect 301 /pub-crawl-news/trafik-bar-shoreditch/ /
redirect 301 /pub-crawl-news/the-dictionary-hostel/ /
redirect 301 /pub-crawl-news/who-is-keen-for-a-cinnamon-challenge-at-nuts-pub-crawl/ /
redirect 301 /pub-tour-london/ /
redirect 301 /nuts-pub-crawl-london-2/ /
redirect 301 /blog/page/9/ /
redirect 301 /blog/page/10/ /
redirect 301 /blog/page/13/ /
redirect 301 /nuts-pub-crawl-partners/ /
