@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);



body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #c0a375 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #c0a375;
  border-color: #c0a375;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #a07e49;
  border-color: #a07e49;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #a07e49 !important;
  border-color: #a07e49 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #8e7041;
  color: #8e7041;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #c0a375;
  border-color: #c0a375;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #c0a375 !important;
  border-color: #c0a375 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #c0a375 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #c0a375;
}
.btn-social:hover {
  background: #c0a375;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #c0a375;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #c0a375;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #c0a375;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #c0a375;
}
.lead a,
.lead a:hover {
  color: #c0a375;
}
.lead blockquote {
  border-color: #c0a375;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #e8ddcd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #c0a375;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
#ext_menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-0 .navbar-caption {
  color: #ffffff;
}
#ext_menu-0 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-0 .close-icon::before,
#ext_menu-0 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-0 .link,
#ext_menu-0 .dropdown-item {
  color: #ffffff;
}
#ext_menu-0 .link {
  font-size: 0.75rem;
}
#ext_menu-0 .dropdown-item,
#ext_menu-0 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-0 .link:hover,
#ext_menu-0 .dropdown-item:hover,
#ext_menu-0 .link:focus,
#ext_menu-0 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-0 .link[aria-expanded="true"],
#ext_menu-0 .dropdown-menu {
  background: #162439;
}
#ext_menu-0 .nav-dropdown-sm .link:focus,
#ext_menu-0 .nav-dropdown-sm .link:hover,
#ext_menu-0 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #203453!important;
}
#ext_menu-0 .navbar,
#ext_menu-0 .nav-dropdown-sm,
#ext_menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #243b5e;
}
#ext_menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-0 .bg-color.transparent.opened .link:hover,
#ext_menu-0 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-0 .link[aria-expanded="true"],
#ext_menu-0 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#social-buttons3-a .mbr-section-title,
#social-buttons3-a .btn-social {
  color: #fff;
}



#msg-box8-1j .mbr-section-title,
#msg-box8-1j p {
  color: #fff;
}
#ext_menu-k .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-k .navbar-caption {
  color: #ffffff;
}
#ext_menu-k .navbar-toggler {
  color: #ffffff;
}
#ext_menu-k .close-icon::before,
#ext_menu-k .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-k .link,
#ext_menu-k .dropdown-item {
  color: #ffffff;
}
#ext_menu-k .link {
  font-size: 0.75rem;
}
#ext_menu-k .dropdown-item,
#ext_menu-k .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-k .link:hover,
#ext_menu-k .dropdown-item:hover,
#ext_menu-k .link:focus,
#ext_menu-k .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-k .link[aria-expanded="true"],
#ext_menu-k .dropdown-menu {
  background: #162439;
}
#ext_menu-k .nav-dropdown-sm .link:focus,
#ext_menu-k .nav-dropdown-sm .link:hover,
#ext_menu-k .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-k .nav-dropdown-sm .dropdown-item:hover {
  background: #203453!important;
}
#ext_menu-k .navbar,
#ext_menu-k .nav-dropdown-sm,
#ext_menu-k .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-k .nav-dropdown-sm .dropdown-menu {
  background: #243b5e;
}
#ext_menu-k .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-k .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-k .bg-color.transparent.opened .link:hover,
#ext_menu-k .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-k .link[aria-expanded="true"],
#ext_menu-k .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#header3-1k .mbr-section-title,
#header3-1k .mbr-section-subtitle {
  text-align: center;
}
#content2-1l BLOCKQUOTE {
  font-family: 'Montserrat', sans-serif;
}
#header3-1m .mbr-section-title,
#header3-1m .mbr-section-subtitle {
  text-align: center;
}
#content1-1n P {
  font-family: 'Montserrat', sans-serif;
}
#content1-1n DIV {
  font-family: 'Montserrat', sans-serif;
}
#msg-box8-1p .mbr-section-title,
#msg-box8-1p p {
  color: #fff;
}
#ext_menu-r .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-r .navbar-caption {
  color: #ffffff;
}
#ext_menu-r .navbar-toggler {
  color: #ffffff;
}
#ext_menu-r .close-icon::before,
#ext_menu-r .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-r .link,
#ext_menu-r .dropdown-item {
  color: #ffffff;
}
#ext_menu-r .link {
  font-size: 0.75rem;
}
#ext_menu-r .dropdown-item,
#ext_menu-r .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-r .link:hover,
#ext_menu-r .dropdown-item:hover,
#ext_menu-r .link:focus,
#ext_menu-r .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-r .link[aria-expanded="true"],
#ext_menu-r .dropdown-menu {
  background: #162439;
}
#ext_menu-r .nav-dropdown-sm .link:focus,
#ext_menu-r .nav-dropdown-sm .link:hover,
#ext_menu-r .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-r .nav-dropdown-sm .dropdown-item:hover {
  background: #203453!important;
}
#ext_menu-r .navbar,
#ext_menu-r .nav-dropdown-sm,
#ext_menu-r .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-r .nav-dropdown-sm .dropdown-menu {
  background: #243b5e;
}
#ext_menu-r .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-r .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-r .bg-color.transparent.opened .link:hover,
#ext_menu-r .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-r .link[aria-expanded="true"],
#ext_menu-r .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-y .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-y .navbar-caption {
  color: #ffffff;
}
#ext_menu-y .navbar-toggler {
  color: #ffffff;
}
#ext_menu-y .close-icon::before,
#ext_menu-y .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-y .link,
#ext_menu-y .dropdown-item {
  color: #ffffff;
}
#ext_menu-y .link {
  font-size: 0.75rem;
}
#ext_menu-y .dropdown-item,
#ext_menu-y .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-y .link:hover,
#ext_menu-y .dropdown-item:hover,
#ext_menu-y .link:focus,
#ext_menu-y .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-y .link[aria-expanded="true"],
#ext_menu-y .dropdown-menu {
  background: #162439;
}
#ext_menu-y .nav-dropdown-sm .link:focus,
#ext_menu-y .nav-dropdown-sm .link:hover,
#ext_menu-y .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-y .nav-dropdown-sm .dropdown-item:hover {
  background: #203453!important;
}
#ext_menu-y .navbar,
#ext_menu-y .nav-dropdown-sm,
#ext_menu-y .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-y .nav-dropdown-sm .dropdown-menu {
  background: #243b5e;
}
#ext_menu-y .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-y .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-y .bg-color.transparent.opened .link:hover,
#ext_menu-y .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-y .link[aria-expanded="true"],
#ext_menu-y .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-1c .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-1c .navbar-caption {
  color: #ffffff;
}
#ext_menu-1c .navbar-toggler {
  color: #ffffff;
}
#ext_menu-1c .close-icon::before,
#ext_menu-1c .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-1c .link,
#ext_menu-1c .dropdown-item {
  color: #ffffff;
}
#ext_menu-1c .link {
  font-size: 0.75rem;
}
#ext_menu-1c .dropdown-item,
#ext_menu-1c .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-1c .link:hover,
#ext_menu-1c .dropdown-item:hover,
#ext_menu-1c .link:focus,
#ext_menu-1c .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-1c .link[aria-expanded="true"],
#ext_menu-1c .dropdown-menu {
  background: #162439;
}
#ext_menu-1c .nav-dropdown-sm .link:focus,
#ext_menu-1c .nav-dropdown-sm .link:hover,
#ext_menu-1c .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-1c .nav-dropdown-sm .dropdown-item:hover {
  background: #203453!important;
}
#ext_menu-1c .navbar,
#ext_menu-1c .nav-dropdown-sm,
#ext_menu-1c .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-1c .nav-dropdown-sm .dropdown-menu {
  background: #243b5e;
}
#ext_menu-1c .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-1c .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-1c .bg-color.transparent.opened .link:hover,
#ext_menu-1c .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-1c .link[aria-expanded="true"],
#ext_menu-1c .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-d .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-d .navbar-caption {
  color: #ffffff;
}
#ext_menu-d .navbar-toggler {
  color: #ffffff;
}
#ext_menu-d .close-icon::before,
#ext_menu-d .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-d .link,
#ext_menu-d .dropdown-item {
  color: #ffffff;
}
#ext_menu-d .link {
  font-size: 0.75rem;
}
#ext_menu-d .dropdown-item,
#ext_menu-d .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-d .link:hover,
#ext_menu-d .dropdown-item:hover,
#ext_menu-d .link:focus,
#ext_menu-d .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-d .link[aria-expanded="true"],
#ext_menu-d .dropdown-menu {
  background: #162439;
}
#ext_menu-d .nav-dropdown-sm .link:focus,
#ext_menu-d .nav-dropdown-sm .link:hover,
#ext_menu-d .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-d .nav-dropdown-sm .dropdown-item:hover {
  background: #203453!important;
}
#ext_menu-d .navbar,
#ext_menu-d .nav-dropdown-sm,
#ext_menu-d .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-d .nav-dropdown-sm .dropdown-menu {
  background: #243b5e;
}
#ext_menu-d .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-d .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-d .bg-color.transparent.opened .link:hover,
#ext_menu-d .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-d .link[aria-expanded="true"],
#ext_menu-d .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#social-buttons3-h .mbr-section-title,
#social-buttons3-h .btn-social {
  color: #fff;
}
#msg-box8-26 .mbr-section-title,
#msg-box8-26 p {
  color: #fff;
}
#content1-28 P {
  font-size: 16px;
}
#content1-28 H1 {
  text-align: center;
}
#content1-28 UL {
  text-align: left;
}
#content1-28 H3 {
  text-align: left;
}
#ext_menu-23 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-23 .navbar-caption {
  color: #ffffff;
}
#ext_menu-23 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-23 .close-icon::before,
#ext_menu-23 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-23 .link,
#ext_menu-23 .dropdown-item {
  color: #ffffff;
}
#ext_menu-23 .link {
  font-size: 0.75rem;
}
#ext_menu-23 .dropdown-item,
#ext_menu-23 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-23 .link:hover,
#ext_menu-23 .dropdown-item:hover,
#ext_menu-23 .link:focus,
#ext_menu-23 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-23 .link[aria-expanded="true"],
#ext_menu-23 .dropdown-menu {
  background: #162439;
}
#ext_menu-23 .nav-dropdown-sm .link:focus,
#ext_menu-23 .nav-dropdown-sm .link:hover,
#ext_menu-23 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-23 .nav-dropdown-sm .dropdown-item:hover {
  background: #203453!important;
}
#ext_menu-23 .navbar,
#ext_menu-23 .nav-dropdown-sm,
#ext_menu-23 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-23 .nav-dropdown-sm .dropdown-menu {
  background: #243b5e;
}
#ext_menu-23 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-23 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-23 .bg-color.transparent.opened .link:hover,
#ext_menu-23 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-23 .link[aria-expanded="true"],
#ext_menu-23 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box8-1x .mbr-section-title,
#msg-box8-1x p {
  color: #fff;
}
#ext_menu-15 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-15 .navbar-caption {
  color: #ffffff;
}
#ext_menu-15 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-15 .close-icon::before,
#ext_menu-15 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-15 .link,
#ext_menu-15 .dropdown-item {
  color: #ffffff;
}
#ext_menu-15 .link {
  font-size: 0.75rem;
}
#ext_menu-15 .dropdown-item,
#ext_menu-15 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-15 .link:hover,
#ext_menu-15 .dropdown-item:hover,
#ext_menu-15 .link:focus,
#ext_menu-15 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-15 .link[aria-expanded="true"],
#ext_menu-15 .dropdown-menu {
  background: #162439;
}
#ext_menu-15 .nav-dropdown-sm .link:focus,
#ext_menu-15 .nav-dropdown-sm .link:hover,
#ext_menu-15 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-15 .nav-dropdown-sm .dropdown-item:hover {
  background: #203453!important;
}
#ext_menu-15 .navbar,
#ext_menu-15 .nav-dropdown-sm,
#ext_menu-15 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-15 .nav-dropdown-sm .dropdown-menu {
  background: #243b5e;
}
#ext_menu-15 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-15 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-15 .bg-color.transparent.opened .link:hover,
#ext_menu-15 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-15 .link[aria-expanded="true"],
#ext_menu-15 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box8-2b .mbr-section-title,
#msg-box8-2b p {
  color: #fff;
}
#content1-2c P {
  font-size: 15px;
}
#content1-2c H1 {
  text-align: center;
}
#content1-2c UL {
  text-align: left;
}
#content1-2c H3 {
  text-align: left;
}
#ext_menu-2e .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-2e .navbar-caption {
  color: #ffffff;
}
#ext_menu-2e .navbar-toggler {
  color: #ffffff;
}
#ext_menu-2e .close-icon::before,
#ext_menu-2e .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-2e .link,
#ext_menu-2e .dropdown-item {
  color: #ffffff;
}
#ext_menu-2e .link {
  font-size: 0.75rem;
}
#ext_menu-2e .dropdown-item,
#ext_menu-2e .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-2e .link:hover,
#ext_menu-2e .dropdown-item:hover,
#ext_menu-2e .link:focus,
#ext_menu-2e .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-2e .link[aria-expanded="true"],
#ext_menu-2e .dropdown-menu {
  background: #162439;
}
#ext_menu-2e .nav-dropdown-sm .link:focus,
#ext_menu-2e .nav-dropdown-sm .link:hover,
#ext_menu-2e .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-2e .nav-dropdown-sm .dropdown-item:hover {
  background: #203453!important;
}
#ext_menu-2e .navbar,
#ext_menu-2e .nav-dropdown-sm,
#ext_menu-2e .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-2e .nav-dropdown-sm .dropdown-menu {
  background: #243b5e;
}
#ext_menu-2e .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-2e .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-2e .bg-color.transparent.opened .link:hover,
#ext_menu-2e .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-2e .link[aria-expanded="true"],
#ext_menu-2e .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box8-2h .mbr-section-title,
#msg-box8-2h p {
  color: #fff;
}
#content1-2i P {
  font-size: 15px;
}
#content1-2i H1 {
  text-align: center;
}
#content1-2i UL {
  text-align: left;
}
#content1-2i H3 {
  text-align: left;
}
#ext_menu-2k .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-2k .navbar-caption {
  color: #ffffff;
}
#ext_menu-2k .navbar-toggler {
  color: #ffffff;
}
#ext_menu-2k .close-icon::before,
#ext_menu-2k .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-2k .link,
#ext_menu-2k .dropdown-item {
  color: #ffffff;
}
#ext_menu-2k .link {
  font-size: 0.75rem;
}
#ext_menu-2k .dropdown-item,
#ext_menu-2k .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-2k .link:hover,
#ext_menu-2k .dropdown-item:hover,
#ext_menu-2k .link:focus,
#ext_menu-2k .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-2k .link[aria-expanded="true"],
#ext_menu-2k .dropdown-menu {
  background: #162439;
}
#ext_menu-2k .nav-dropdown-sm .link:focus,
#ext_menu-2k .nav-dropdown-sm .link:hover,
#ext_menu-2k .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-2k .nav-dropdown-sm .dropdown-item:hover {
  background: #203453!important;
}
#ext_menu-2k .navbar,
#ext_menu-2k .nav-dropdown-sm,
#ext_menu-2k .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-2k .nav-dropdown-sm .dropdown-menu {
  background: #243b5e;
}
#ext_menu-2k .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-2k .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-2k .bg-color.transparent.opened .link:hover,
#ext_menu-2k .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-2k .link[aria-expanded="true"],
#ext_menu-2k .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box8-2o .mbr-section-title,
#msg-box8-2o p {
  color: #fff;
}
#content1-2p P {
  font-size: 15px;
}
#content1-2p H1 {
  text-align: center;
}
#content1-2p UL {
  text-align: left;
  font-size: 15px;
}
#content1-2p H3 {
  text-align: left;
}
#ext_menu-2r .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-2r .navbar-caption {
  color: #ffffff;
}
#ext_menu-2r .navbar-toggler {
  color: #ffffff;
}
#ext_menu-2r .close-icon::before,
#ext_menu-2r .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-2r .link,
#ext_menu-2r .dropdown-item {
  color: #ffffff;
}
#ext_menu-2r .link {
  font-size: 0.75rem;
}
#ext_menu-2r .dropdown-item,
#ext_menu-2r .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-2r .link:hover,
#ext_menu-2r .dropdown-item:hover,
#ext_menu-2r .link:focus,
#ext_menu-2r .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-2r .link[aria-expanded="true"],
#ext_menu-2r .dropdown-menu {
  background: #162439;
}
#ext_menu-2r .nav-dropdown-sm .link:focus,
#ext_menu-2r .nav-dropdown-sm .link:hover,
#ext_menu-2r .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-2r .nav-dropdown-sm .dropdown-item:hover {
  background: #203453!important;
}
#ext_menu-2r .navbar,
#ext_menu-2r .nav-dropdown-sm,
#ext_menu-2r .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-2r .nav-dropdown-sm .dropdown-menu {
  background: #243b5e;
}
#ext_menu-2r .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-2r .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-2r .bg-color.transparent.opened .link:hover,
#ext_menu-2r .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-2r .link[aria-expanded="true"],
#ext_menu-2r .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box8-2u .mbr-section-title,
#msg-box8-2u p {
  color: #fff;
}
#content1-2v P {
  font-size: 15px;
}
#content1-2v H1 {
  text-align: center;
}
#content1-2v UL {
  text-align: left;
}
#content1-2v H3 {
  text-align: left;
}
#ext_menu-2x .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-2x .navbar-caption {
  color: #ffffff;
}
#ext_menu-2x .navbar-toggler {
  color: #ffffff;
}
#ext_menu-2x .close-icon::before,
#ext_menu-2x .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-2x .link,
#ext_menu-2x .dropdown-item {
  color: #ffffff;
}
#ext_menu-2x .link {
  font-size: 0.75rem;
}
#ext_menu-2x .dropdown-item,
#ext_menu-2x .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-2x .link:hover,
#ext_menu-2x .dropdown-item:hover,
#ext_menu-2x .link:focus,
#ext_menu-2x .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-2x .link[aria-expanded="true"],
#ext_menu-2x .dropdown-menu {
  background: #162439;
}
#ext_menu-2x .nav-dropdown-sm .link:focus,
#ext_menu-2x .nav-dropdown-sm .link:hover,
#ext_menu-2x .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-2x .nav-dropdown-sm .dropdown-item:hover {
  background: #203453!important;
}
#ext_menu-2x .navbar,
#ext_menu-2x .nav-dropdown-sm,
#ext_menu-2x .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-2x .nav-dropdown-sm .dropdown-menu {
  background: #243b5e;
}
#ext_menu-2x .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-2x .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-2x .bg-color.transparent.opened .link:hover,
#ext_menu-2x .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-2x .link[aria-expanded="true"],
#ext_menu-2x .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box8-30 .mbr-section-title,
#msg-box8-30 p {
  color: #fff;
}
#content1-31 P {
  font-size: 15px;
}
#content1-31 H1 {
  text-align: left;
}
#content1-31 UL {
  text-align: left;
}
#content1-31 H3 {
  text-align: left;
}
#ext_menu-33 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-33 .navbar-caption {
  color: #ffffff;
}
#ext_menu-33 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-33 .close-icon::before,
#ext_menu-33 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-33 .link,
#ext_menu-33 .dropdown-item {
  color: #ffffff;
}
#ext_menu-33 .link {
  font-size: 0.75rem;
}
#ext_menu-33 .dropdown-item,
#ext_menu-33 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-33 .link:hover,
#ext_menu-33 .dropdown-item:hover,
#ext_menu-33 .link:focus,
#ext_menu-33 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-33 .link[aria-expanded="true"],
#ext_menu-33 .dropdown-menu {
  background: #162439;
}
#ext_menu-33 .nav-dropdown-sm .link:focus,
#ext_menu-33 .nav-dropdown-sm .link:hover,
#ext_menu-33 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-33 .nav-dropdown-sm .dropdown-item:hover {
  background: #203453!important;
}
#ext_menu-33 .navbar,
#ext_menu-33 .nav-dropdown-sm,
#ext_menu-33 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-33 .nav-dropdown-sm .dropdown-menu {
  background: #243b5e;
}
#ext_menu-33 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-33 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-33 .bg-color.transparent.opened .link:hover,
#ext_menu-33 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-33 .link[aria-expanded="true"],
#ext_menu-33 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box8-39 .mbr-section-title,
#msg-box8-39 p {
  color: #fff;
}
#content1-3a P {
  font-size: 16px;
}
#content1-3a H1 {
  text-align: center;
}
#content1-3a UL {
  text-align: left;
}
#content1-3a H3 {
  text-align: left;
}
#ext_menu-3c .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-3c .navbar-caption {
  color: #ffffff;
}
#ext_menu-3c .navbar-toggler {
  color: #ffffff;
}
#ext_menu-3c .close-icon::before,
#ext_menu-3c .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-3c .link,
#ext_menu-3c .dropdown-item {
  color: #ffffff;
}
#ext_menu-3c .link {
  font-size: 0.75rem;
}
#ext_menu-3c .dropdown-item,
#ext_menu-3c .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-3c .link:hover,
#ext_menu-3c .dropdown-item:hover,
#ext_menu-3c .link:focus,
#ext_menu-3c .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-3c .link[aria-expanded="true"],
#ext_menu-3c .dropdown-menu {
  background: #162439;
}
#ext_menu-3c .nav-dropdown-sm .link:focus,
#ext_menu-3c .nav-dropdown-sm .link:hover,
#ext_menu-3c .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-3c .nav-dropdown-sm .dropdown-item:hover {
  background: #203453!important;
}
#ext_menu-3c .navbar,
#ext_menu-3c .nav-dropdown-sm,
#ext_menu-3c .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-3c .nav-dropdown-sm .dropdown-menu {
  background: #243b5e;
}
#ext_menu-3c .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-3c .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-3c .bg-color.transparent.opened .link:hover,
#ext_menu-3c .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-3c .link[aria-expanded="true"],
#ext_menu-3c .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box8-3f .mbr-section-title,
#msg-box8-3f p {
  color: #fff;
}
#content1-3g P {
  font-size: 16px;
  text-align: left;
}
#content1-3g H1 {
  text-align: center;
}
#content1-3g UL {
  text-align: left;
}
#content1-3g H3 {
  text-align: left;
}
#ext_menu-3i .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-3i .navbar-caption {
  color: #ffffff;
}
#ext_menu-3i .navbar-toggler {
  color: #ffffff;
}
#ext_menu-3i .close-icon::before,
#ext_menu-3i .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-3i .link,
#ext_menu-3i .dropdown-item {
  color: #ffffff;
}
#ext_menu-3i .link {
  font-size: 0.75rem;
}
#ext_menu-3i .dropdown-item,
#ext_menu-3i .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-3i .link:hover,
#ext_menu-3i .dropdown-item:hover,
#ext_menu-3i .link:focus,
#ext_menu-3i .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-3i .link[aria-expanded="true"],
#ext_menu-3i .dropdown-menu {
  background: #162439;
}
#ext_menu-3i .nav-dropdown-sm .link:focus,
#ext_menu-3i .nav-dropdown-sm .link:hover,
#ext_menu-3i .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-3i .nav-dropdown-sm .dropdown-item:hover {
  background: #203453!important;
}
#ext_menu-3i .navbar,
#ext_menu-3i .nav-dropdown-sm,
#ext_menu-3i .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-3i .nav-dropdown-sm .dropdown-menu {
  background: #243b5e;
}
#ext_menu-3i .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-3i .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-3i .bg-color.transparent.opened .link:hover,
#ext_menu-3i .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-3i .link[aria-expanded="true"],
#ext_menu-3i .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box8-3l .mbr-section-title,
#msg-box8-3l p {
  color: #fff;
}
#content1-3m P {
  font-size: 16px;
  text-align: left;
}
#content1-3m H1 {
  text-align: center;
}
#content1-3m UL {
  text-align: left;
}
#content1-3m H3 {
  text-align: left;
}
#ext_menu-3o .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-3o .navbar-caption {
  color: #ffffff;
}
#ext_menu-3o .navbar-toggler {
  color: #ffffff;
}
#ext_menu-3o .close-icon::before,
#ext_menu-3o .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-3o .link,
#ext_menu-3o .dropdown-item {
  color: #ffffff;
}
#ext_menu-3o .link {
  font-size: 0.75rem;
}
#ext_menu-3o .dropdown-item,
#ext_menu-3o .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-3o .link:hover,
#ext_menu-3o .dropdown-item:hover,
#ext_menu-3o .link:focus,
#ext_menu-3o .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-3o .link[aria-expanded="true"],
#ext_menu-3o .dropdown-menu {
  background: #162439;
}
#ext_menu-3o .nav-dropdown-sm .link:focus,
#ext_menu-3o .nav-dropdown-sm .link:hover,
#ext_menu-3o .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-3o .nav-dropdown-sm .dropdown-item:hover {
  background: #203453!important;
}
#ext_menu-3o .navbar,
#ext_menu-3o .nav-dropdown-sm,
#ext_menu-3o .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-3o .nav-dropdown-sm .dropdown-menu {
  background: #243b5e;
}
#ext_menu-3o .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-3o .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-3o .bg-color.transparent.opened .link:hover,
#ext_menu-3o .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-3o .link[aria-expanded="true"],
#ext_menu-3o .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box8-3r .mbr-section-title,
#msg-box8-3r p {
  color: #fff;
}
#content1-3s P {
  font-size: 16px;
  text-align: left;
}
#content1-3s H1 {
  text-align: center;
}
#content1-3s UL {
  text-align: left;
}
#content1-3s H3 {
  text-align: left;
}
#content1-3s DIV {
  text-align: left;
}
#ext_menu-3u .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-3u .navbar-caption {
  color: #ffffff;
}
#ext_menu-3u .navbar-toggler {
  color: #ffffff;
}
#ext_menu-3u .close-icon::before,
#ext_menu-3u .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-3u .link,
#ext_menu-3u .dropdown-item {
  color: #ffffff;
}
#ext_menu-3u .link {
  font-size: 0.75rem;
}
#ext_menu-3u .dropdown-item,
#ext_menu-3u .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-3u .link:hover,
#ext_menu-3u .dropdown-item:hover,
#ext_menu-3u .link:focus,
#ext_menu-3u .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-3u .link[aria-expanded="true"],
#ext_menu-3u .dropdown-menu {
  background: #162439;
}
#ext_menu-3u .nav-dropdown-sm .link:focus,
#ext_menu-3u .nav-dropdown-sm .link:hover,
#ext_menu-3u .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-3u .nav-dropdown-sm .dropdown-item:hover {
  background: #203453!important;
}
#ext_menu-3u .navbar,
#ext_menu-3u .nav-dropdown-sm,
#ext_menu-3u .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-3u .nav-dropdown-sm .dropdown-menu {
  background: #243b5e;
}
#ext_menu-3u .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-3u .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-3u .bg-color.transparent.opened .link:hover,
#ext_menu-3u .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-3u .link[aria-expanded="true"],
#ext_menu-3u .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
